.locations{
    display:flex;
    gap: 20px;
    font-size: 9px;
    margin-top:-15px;
}

.category{
   
    display:flex;
    gap: 5px;
  
}

.category>button{
    font-size:7px;
    border-radius:10px;
    border: 0;
    background-color:white;
    color:grey;
    padding:0px 0px 0px 5px;
    height:15px;
    width:70px;
  
}

.posted{
    font-size:9px;
}
.designation{
    font-weight: 540;
    font-size:15px;
}
.description{
    margin-left: 40px;
}