body {
  background: #f2f5fa;
}

.container {
  width: 100%;
  height: 100vh;
}
.dropdown {
  width: 280px;
  height: 30px;
  user-select: none;
  margin: 0px;
  position: absolute;
  left: 12%;
  display: flex;
  justify-content: space-between;
  font-size: 9px;
}
.dropdown .dropdown-btn {
  padding: 0px 0px 0px 19px;
  background: #fff;
  box-shadow: 3px 3px 10px 8px rgb(0 0 0 / 6%);
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 15px;
  height: 28px;
  width: 9rem;
  font-size: 14px;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 30px;
  left: 0%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
  font-weight: 500;
  color: #333;
  width: 12rem;
  font-size: 15px;
  height: auto;
  border-radius: 5px;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}

.dropdowns {
  width: 100px;
  height: 30px;
  user-select: none;
  margin: 0px;
  position: absolute;
  left: 26%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.dropdowns .dropdowns-btn {
  padding: 0px 0px 0px 19px;
  background: #fff;
  box-shadow: 3px 3px 10px 8px rgb(0 0 0 / 6%);
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 15px;
  height: 28px;
  width: 9rem;
  font-size: 14px;
}

.dropdowns .dropdowns-content {
  position: absolute;
  top: 30px;
  left: 0%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
  font-weight: 500;
  color: #333;
  width: 12rem;
  font-size: 15px;
  height: auto;
  border-radius: 5px;

  overflow-y: scroll;
}
.dropdowns .dropdowns-content .dropdowns-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdowns .dropdowns-content .dropdowns-item:hover {
  background: #f4f4f4;
}

.dropdownd {
  width: 180px;
  height: 30px;
  user-select: none;
  margin: 0px;
  position: absolute;
  left: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 9px;
}

.dropdownd .dropdownd-btn {
  padding: 0px 0px 0px 19px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 400;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 15px;
  height: 28px;
  width: 120px;
  font-size: 12px;
}

.dropdownd .dropdownd-content {
  position: absolute;
  top: 30px;
  left: 0%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%);
  font-weight: 500;
  color: #333;
  width: 140px;
  font-size: 15px;
  height: 200px;
  border-radius: 5px;
}
.dropdownd .dropdownd-content .dropdownd-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdownd .dropdownd-content .dropdownd-item:hover {
  background: #f4f4f4;
}

.filter {
  font-size: 14px;
  position: relative;
  left: 10px;
  top: 19px;
  font-weight: bold;
}
